* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 36rem;
  margin: 5.6rem auto 0;
}

#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
}

#profile p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

/* LINKS */
ul{
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

ul li a{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.6rem 2.4rem;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: .8rem;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}