*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#container {
  width: 36rem;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img{
  width: 11.2rem;
}