* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 36rem;
  margin: 5.6rem auto 0;
}

#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
}

#profile p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}
